.main-page_header {
  width: 100%;
  height: 10vh;
  display: flex;
  margin-bottom: 60px;
  justify-content: space-around;
  align-items: center;
  background-color: #afdbd4;
  background-image: url(../../../image/light-wool.png);
  box-shadow: inset 0 3px 25px 0 #ffffffe0;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  color: #30645c;
}

.main-page_header h1 {
  margin: 0;
  padding: 0;
}

.main-page_header-logo>img {
  height: 87%;
}

.main-page_header-line {
  width: 2px;
  height: 50%;
  background-color: #30645c;
  margin-right: 20px;
  margin-left: 20px;
}

.main-page_header-nav, .main-page_header-logo {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-page_header-link:hover {
  cursor: pointer;
  color: #28cec6f5;
}

.main-page_header-account>span{
  font-size: 22px;
  font-style: italic;
  font-weight: 600;
  color: #2247c0c7
}
